.card-list{
  padding: 0 200px;
  text-align: center; // 글 가운데 정렬
  margin: 50px;
  
}

.slider-container {
  background-color: white;
  padding: 50px; // 슬라이더 컨테이너의 패딩 값 설정
}


.custom-img {
  width: 100%;
  height: auto;
}

