* {
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.cart-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.select-instruction {
  font-size: 16px;
  color: #333;
  background-color: #e9f9e6;
  padding: 10px;
  margin-bottom: 20px;
}

.submit-button {
  width: 100%;
  padding: 15px;
  background-color: #8FBE88;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 150px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s;

  &:hover {
      background-color: darken($color: #8FBE88, $amount: 10%);
  }
}
