.fruit-list {
    border-radius: 4px;
    padding: 10px;
    background-color: #fff;
    
    .fruit-item {
        position: relative;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .fruit-image {
            position: absolute;
            left: 80px;
            right: 30px;
            width: 45px;
        }


        .fruit-price {
            position: relative;
            left: 210px;
            bottom: 25px;
        }
        
        span.fruit-name {
            font-size: 16px;
            flex: 0.5;
        }

        .quantity-control {
            margin-left: -70px;
            flex: 0.5;
            display: flex;
            justify-content: space-between;
            max-width: 100px;
            height: 30px;
        }

        .delivery-cycle-control {
            flex: 1;
        }

        .next-delivery-date {
            flex: 2;
        }

        select {
            margin-right: 400px;
            position: relative;
            top: 15px; 
            width: 120px;
            height: 30px;
            border: 0.5px solid #d9d9d9;
            border-radius: 1px;
        }

        .fruit-selection .fruit-select-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20px;
            height: 10px;
            cursor: pointer;
            background-color: transparent;
            border: none;  // 테두리 제거
        
            .check-icon {
                pointer-events: none;
                width: 12px;
                height: 25px;
                fill: #8FBE88;
            }
            
        
            &.selected {
                fill: #8FBE88; // 선택된 상태의 SVG 색상 설정
                
            }
        }
    }
}

.delete-icon-btn {
    border: none;
    padding: 0;
    left: 290px;
    position: relative;
    bottom: 15px;  
    background: none; /* 버튼의 기본 배경 제거 */
    cursor: pointer;  /* 마우스를 올렸을 때 손가락 커서로 변경 */
}

// button.select-all-btn, 
// button.delete-selected-btn {
//     padding: 8px 15px;
//     border: none;
//     border-radius: 4px;
//     background-color: #69d276;
//     color: #fff;
//     cursor: pointer;
//     transition: background-color 0.3s ease;

//     &:hover {
//         background-color: #57bd64;
//     }
// }

